@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Crimson Text", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

p, h1, h2, h3, h4, h5, h6, a, li {
  color: white;
}

p {
  font-size: 1.23em;
}

#mainBanner {
  font-family: "Jost", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.LazyLoad {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}